.app{
    color: white;
}
.nav-bar{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.logo img{
    padding-top: 10px;
    width: 100px;
}
.code-repo img{
    padding-top: 10px;
    width: 25px;
}
input{
    color: white;
    width: 100%;
    text-indent: 30px;
    padding: 10px;
    background: rgb(53, 53, 53);
    border: 1px solid rgb(53, 53, 53);
    border-radius: 5px;
}
.search-icon{
    width: 35px;
    position: absolute;
    padding-top: 15px;
    padding-left: 20px;
}
.nav-links{
    padding-top: 15px;
    font-size: 13px;
}
.links{
    margin-left: 5px;
    color: white;
    text-align: center;
    background: #303030;
    padding: 0px;
    border-radius: 50px;
    width: auto;
}

.links:hover{
    color: white;
    transition: ease-in-out 0.5s;
    background: #d6292c;
}
.movies{
    padding-top: 50px;
}
.card-list{
    margin-left: -4%;
    list-style: none;
}
.card-list li{
    padding-bottom: 20px;
}
.card-list::after{
    content: "";
    display: table;
    clear: both;
}
.card-list li{
    float: left;
    padding-left: 20px;
    width: 33.33%;
}
.details{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}
.title{
    font-weight: bold;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.date{
    font-size: 13px;
}
.popularity{
    text-align: center;
    border: 1px solid rgb(97, 97, 97);
    padding: 1px;
    border-radius: 40px;
    width: 70px;
    height: 30px;
}
.popularity span{
    font-size: 13px;
}
.popularity img{
    margin-right: 5px;
    width: 15px;
}

@media screen and (max-width: 992px){
    .card-list{
        margin-left: -0%;
    }
    .card-list::after{
        content: normal;
        display: inline;
        clear: none;
    }
    .card-list li{
        width: 100%;
        padding-left: -20px;
    }
}
.movie{
    display: flex;
}
.movie .poster{
    width: 50%;
    height: auto;
}
.movie .poster img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.content{
    padding-left: 40px;
    width: 50%;
}
.content .head{
    display: flex;
    justify-content: space-between !important;
}
.content .movie-title{
    max-width: 80%;
}
.content .movie-popularity{
    float: right;
}
.content .movie-popularity img{
    width: 25px;
}
.content h1{
    font-weight: bold;
}
.content .release-date{
    font-size: 14px;
    color: rgb(151, 151, 151);
}
.genre-list, .language-list{
    margin-left: -5px;
    padding-top: 10px;
    display: flex;
}
.genres{
    color:rgb(151, 151, 151) ;
    font-size: 13px;
    padding: 5px;
    width: auto;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid rgb(151, 151, 151);
}
.language{
    color:rgb(151, 151, 151) ;
    font-size: 13px;
    margin-left: 5px;
}
.overview{
    color: rgb(207, 207, 207);
    padding-top: 10px;
}
.country{
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
}
.production-title{
    color: rgb(151, 151, 151);
}
.countries{
    margin-left: 5px;
}
.country-list{
    color:rgb(207, 207, 207);
    margin-left: 15px;
    display: flex;
}
.watch{
    padding-top: 20px;
    margin-left: -10px;
}
.watch button{
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.play-trailer{
    background:#d6292c;
    color: white;
}
.explore{
    background:#ffffff;
    color: rgb(0, 0, 0);
}
.play-trailer img{
    margin-left: 5px;
    width: 10px;
}